<% include head.ejs%>
<body id="body-login">
    <div class="container">

        <div class="col-sm-6 col-sm-offset-3" id="login">

            <% if (message.length) { %>
            <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <!-- LOGIN FORM -->
            <div class="logoDiv">
              <img src="./assets/splitter-logo-white.png" id="logo-white"/>
            </div>
            <!-- <img src="./assets/splitter-logo-white.png" width="200"/> -->
            <!-- </br> -->
            <div class="signin-singup">
                <a id="signin" href="/login">SIGN IN</a>
                <a id="signup" href="/signup">SIGN UP</a>
            </div>

            <form class="signin-form" action="/login" method="post">
                <div class="form-group">
                    <!-- <label class="login-email-info">Email</label> -->
                    <input type="text" class="form-control" name="email" placeholder="email">
                    <!-- <label class="login-email-info">Password</label> -->
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="password">

                </div>
        
                <button type="submit" class="form-control" id="login-button">GO!</button>
            </form>

            <hr style="margin-bottom: 30px">
            <div>
                <p style="text-align: center">Sign up with</p>
                <a class="btn btn-warning btn-lg" style="margin-right:15px" href="/auth/facebook">facebook</a>
                <a  class="btn btn-warning btn-lg" style="margin-left:15px;margin-right:15px" href="/auth/google">
                google</a>
               

            </div>


        </div>

<% include foot.ejs%>

            <!-- <a class="btn btn-warning btn-lg" href="/">home</a> -->
